<div class="row">
  <div class="col-sm-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Ajouter un Auteur</h4>
        </div>
      </div>
      <div class="iq-card-body">
        <form action="https://templates.iqonic.design/booksto/html/admin-author.html">
          <div class="form-group">
            <label>Nom de l'auteur:</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Profil de l'auteur:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choisir le fichier</label>
            </div>
          </div>
          <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
