<!-- Sidebar  -->
<div class="iq-sidebar">
  <div class="iq-sidebar-logo d-flex justify-content-between">
    <a routerLink="dashboard" class="header-logo">
      <img src="assets/images/logo.png" class="img-fluid rounded-normal" alt="">
      <div class="logo-title">
        <span class="text-primary text-uppercase">Book LIAM</span>
      </div>
    </a>
    <div class="iq-menu-bt-sidebar">
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="main-circle"><i class="las la-bars"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu">
      <ul id="iq-sidebar-toggle" class="iq-menu">
        <li><a routerLink="dashboard"><i class="ri-dashboard-line"></i>Dashboard</a></li>
        <li><a routerLink="categorie-list"><i class="ri-list-check-2"></i>Catégories</a></li>
        <li><a routerLink="author-list"><i class="ri-file-user-line"></i>Auteurs</a></li>
        <li><a routerLink="book-list"><i class="ri-book-2-line"></i>Livres</a></li>
        <li><a routerLink="client-list"><i class="ri-admin-line"></i>Client</a></li>
        <li><a routerLink="Commande-list"><i class="ri-shopping-cart-2-line"></i>Commande</a></li>
      </ul>
    </nav>
    <div id="sidebar-bottom" class="p-3 position-relative">
      <div class="iq-card">
        <div class="iq-card-body">
          <div class="sidebarbottom-content">
            <div class="image"><img src="assets/images/page-img/side-bkg.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
