<div class="row">
  <div class="col-sm-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Author Lists</h4>
        </div>
        <div class="iq-card-header-toolbar d-flex align-items-center">
          <a routerLink="../add-author" class="btn btn-primary">Add New Author</a>
        </div>
      </div>
      <div class="iq-card-body">
        <div class="table-responsive">
          <table class="data-tables table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th style="width: 5%;">N°</th>
                <th style="width: 5%;">Image</th>
                <th style="width: 20%;">Nom</th>
                <th style="width: 20%;">Prenom</th>
                <th style="width: 60%;">Description</th>
                <th style="width: 10%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Author of Authors; let i = index">
                <td>{{Author.id}}</td>
                <td>
                  <img src="{{Author.photo}}" class="img-fluid avatar-50 rounded" alt="author-profile">
                </td>
                <td>{{Author.prenom}}</td>
                <td>{{Author.nom}}</td>
                <td>
                  <p class="mb-0">{{Author.description}}</p>
                </td>
                <td>
                  <div class="flex align-items-center list-user-action">
                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                      href="admin-add-category.html"><i class="ri-pencil-line"></i></a>
                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Delete" href="#"><i class="ri-delete-bin-line"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
