<div class="row">
  <div class="col-sm-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Listes des Catégories</h4>
        </div>
        <div class="iq-card-header-toolbar d-flex align-items-center">
          <a routerLink="../add-categorie" class="btn btn-primary">Ajouter une nouvelle Catégorie</a>
        </div>
      </div>
      <div class="iq-card-body">
        <div class="table-responsive">
          <table class="data-tables table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th width="5%">No</th>
                <th width="20%">Nom de catégorie</th>
                <th width="65%">Description</th>
                <th width="10%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Categorie of Categories; let i = index">
                <td>{{Categorie.id}}</td>
                <td>{{Categorie.libelle}}</td>
                <td>
                  <p class="mb-0">{{Categorie.description}}</p>
                </td>
                <td>
                  <div class="flex align-items-center list-user-action">
                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"
                      href="admin-add-category.html"><i class="ri-pencil-line"></i></a>
                    <a class="bg-primary" data-toggle="tooltip" data-placement="top" title=""
                      data-original-title="Delete" href="#"><i class="ri-delete-bin-line"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
