<!-- loader Start -->
<div id="loading">
  <div id="loading-center">
  </div>
</div>
<!-- loader END -->
<!-- Wrapper Start -->
<div class="wrapper">
<app-left-menu></app-left-menu>
  <app-header></app-header>
  <!-- Page Content  -->
  <div id="content-page" class="content-page">
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<app-footer></app-footer>
