<div class="row">
  <div class="col-sm-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Add Categories</h4>
        </div>
      </div>
      <div class="iq-card-body">
        <!-- <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()"> -->
          <form>
          <div class="form-group">
            <label>Category Name:</label>
            <input type="text" class="form-control" formControlName="libelle" required>
          </div>
          <div class="form-group">
            <label>Category Description:</label>
            <textarea class="form-control" rows="4" formControlName="description" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger ml-5">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
