<div class="row">
    <div class="col-sm-12">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title">Listes des Livres</h4>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                    <a routerLink="../add-book" class="btn btn-primary">Ajouter un nouveau Livre</a>
                </div>
            </div>
            <div class="iq-card-body">
                <div class="table-responsive">
                    <table class="data-tables table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 3%;">N°</th>
                                <th style="width: 10%;">Image</th>
                                <th style="width: 15%;">Titre</th>
                                <th style="width: 12%;">Catégorie</th>
                                <th style="width: 15%;">Auteur</th>
                                <th style="width: 18%;">Description</th>
                                <th style="width: 7%;">Prix</th>
                                <th style="width: 12%;">Date de sortie</th>
                                <th style="width: 15%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Book of Books; let i = index">
                                <td>{{Book.id}}</td>
                                <td><img class="img-fluid rounded" src="{{Book.photo}}" alt=""></td>
                                <td>{{Book.title}}</td>
                                <td>{{Book.categorie.libelle}}</td>
                                <td>{{Book.author.nom+" "+Book.author.prenom}}</td>
                                <td>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus
                                        non elit a scelerisque. Etiam feugiat luctus est, vel commodo odio rhoncus sit
                                        amet</p>
                                </td>
                                <td>{{Book.price}}</td>
                                <td>{{Book.publication_date}}</td>
                                <!-- <td><a href="book-pdf.html"><i class="ri-file-fill text-secondary font-size-18"></i></a>
                                </td> -->
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Edit" href="admin-add-book.html"><i
                                                class="ri-pencil-line"></i></a>
                                        <a class="bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Delete" href="#"><i class="ri-delete-bin-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
