<div class="row">
  <div class="col-sm-12">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Ajouter une Catégorie</h4>
        </div>
      </div>
      <div class="iq-card-body">
        <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Nom de catégorie:</label>
            <input type="text" class="form-control" formControlName="libelle" required>
          </div>
          <div class="form-group">
            <label>Description de la catégorie:</label>
            <textarea class="form-control" rows="4" formControlName="description" required></textarea>

            <!-- <input type="text" class="form-control" formControlName="status" value="0"> -->
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>
