<!-- Footer -->
<footer class="iq-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6 text-right">
        Design & Develop by <a href='#'>LIAM</a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer END -->
