<div class="row">
    <div class="col-sm-12">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title">Liste des Clients</h4>
                </div>
                <div class="iq-card-header-toolbar d-flex align-items-center">
                    <a routerLink="../add-client" class="btn btn-primary">Ajouter un nouveau Client</a>
                </div>
            </div>
            <div class="iq-card-body">
                <div class="table-responsive">
                    <table id="user-list-table" class="table table-striped table-bordered mt-4" role="grid"
                        aria-describedby="user-list-page-info">
                        <thead>
                            <tr>
                                <th style="width: 3%;">N°</th>
                                <th style="width: 6%;">Image</th>
                                <th style="width: 15%;">Nom</th>
                                <th>Télé</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Date d'inscription</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Client of Clients; let i = index">
                              <td>{{Client.id}}</td>
                                <td class="text-center"><img class="rounded img-fluid avatar-40"
                                        src="{{Client.photo}}" alt="profile"></td>
                                <td>{{Client.name}}</td>
                                <td>(760) 756 7568</td>
                                <td>{{Client.email}}</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>{{Client.created_at | date: 'dd/MM/YYYY'}}</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                        <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Add" href="#"><i class="ri-user-add-line"></i></a>
                                        <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Edit" href="#"><i class="ri-pencil-line"></i></a>
                                        <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Delete" href="#"><i class="ri-delete-bin-line"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
